* {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} 
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px auto 100px;
    background-color: #dbdbdb;
} 
header {
    background-color: var(--dark-blue);
    font-size: 0.9rem;
    padding: 10px;
    color: var(--light);
    box-shadow: 0px 5px 10px #00000099;
} 
.container {
    width: 90%;
    margin: auto;
    max-width: 1340px;
} 
h1 {
    margin-bottom: 5px;
} 
footer {
    background-color: var(--dark-blue);
    padding: 10px;
    color: var(--light);
}
footer p {
    text-align: end;
    font-weight: 600;
}

main {
    padding: 1.5rem;
}
.conteudo {
    height: 100%;
    min-height: 400px;
    /* max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden; */
    width: 100%;
    box-shadow: 0px 1px 10px #00000040;
    margin: auto;
    padding: 20px;
    background-color: antiquewhite;
}
.cont-modulos {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: space-around;
}
.modulo {
    width: 250px;
    min-height: 255px;
    border-radius: var(--radius);
    overflow: hidden;
    border: 3px solid var(--dark-blue);
    background-color: var(--light);
}
h3 {
    background-color: var(--dark-blue);
    padding: 5px 10px;
    text-align: center;
    color: var(--light);
}
.modulo ul {
    padding: 10px 20px;
    background-color: var(--light);
}
.modulo ul li {
    margin: 10px 0;
}
.modulo ul li a {
    color: var(--dark);
}
.modulo ul li a:hover {
    color: blue;
    text-decoration: underline;
}